snippet skeleton "html skeleton"
<!DOCTYPE html>
<html>
<head>
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Links stylesheets and scripts -->
<link rel="stylesheet" href="styles.css">
<script src="scripts.js" defer></script>
</head>
<!-- Content of the web page -->
<body>

</body>
</html>
endsnippet

